// custom.scss
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap&subset=latin-ext');


// Roboto font
$roboto: 'Roboto', sans-serif;;

// Boje
$plava: #00386C;
$crvena: #CF1F25;
$svjetlo-plava: #DDF7FF;

strong{
	color: $plava;
}
	
body{
	
	// h3{
	// 	color: white;
	// }
	font-family: $roboto;
}


/*********************************

HEADER

*********************************/


#header{
	background: $plava;
	
}

/*********************************

NAVIGACIJA

*********************************/

#navigacija{
	padding: 0.3rem 0;
	background: $plava;
	text-transform: uppercase;
	.navbar-brand{
		position: absolute;
		top:-5px;
		z-index: 1;
		    border-right: 0;
	}
	.navbar-nav{
		        margin-left: 7rem;
			a{
			color: #fff;
			border-right: 1px solid rgba(255, 255, 255, 0.3);
			padding: 0.3rem 1rem;
		}
	}
	
	
		.nav-item{
			padding: 0.5rem;
			// padding: 1rem 0;
			border-right: 1px solid rgba(255, 255, 255, 0.3);
			&:after {
				/*border-right: 1px solid #ccc;*/
			}
		}
	.prijava{
		background: #fff;
		color: $plava;
		border-radius: 0;
		// border: 0;
		// padding: 1.3rem;
		padding: 0.7rem;
    margin: -0.3rem;
    border-radius: 0;


	}
}
/*********************************

CARUSEL
*********************************/
.carousel-indicators > li {
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

/*********************************

CONTENT
*********************************/

.content{
	padding: 5rem 0;
	font-size: 1.5rem;
	h2{
		color: $plava;
		font-size: 3rem;
		padding-bottom: 3rem;

	}
	strong{
		color: $plava;
	}
}

/*********************************

KATEGORIJE

*********************************/

#kategorije{
	h5{
		text-transform: uppercase;
		font-weight: bold;
		font-size: 1rem;
		color: $plava;
		// .smjestaj{
		// 	border-bottom: 4px solid red;
		// }
		padding-bottom: 1rem;
		padding-top: 0.5rem;
		&.smjestaj{
		        border-bottom: 13px solid #CB2422;
		    }
		   &.hrana{
		        border-bottom: 13px solid #D26B13;
		    }
		    &.kultura{
		        border-bottom: 13px solid #FAC401;
		    }
		    &.aktivni{
		        border-bottom: 13px solid #AFC624;
		    }
		     &.priroda{
		        border-bottom: 13px solid #829427;
		    }
		     &.zdravlje{
		        border-bottom: 13px solid #43B17A;
		    }
		     &.nautika{
		        border-bottom: 13px solid #419CD6;
		    }
		     &.izleti{
		        border-bottom: 13px solid #283476;
		    }
		     &.prijevoz{
		        border-bottom: 13px solid #A8529A;
		    }
		     &.paket{
		        border-bottom: 13px solid #E84490;
		    }
		     &.ostala{
		        border-bottom: 13px solid #DCDCDC;
		    }
		
	}
	.content{
		/* .row{
			padding-top: 2rem;
		} */
	}
	p{
		padding-bottom: 2rem;
	}
	
}

/*********************************

FOOTER

*********************************/




	// #footer{
	// 	background: $plava;
	// 	padding: 3rem 0;
	// 	h5{
	// 		color: white;
	// 	}
	// }
#footer {
	padding: 3rem 0;
	background: $plava;
	color:#fff;
	font-size: 0.9rem;
		.footer__mreze {
			svg{
				margin-right: 5px;
			}
			p{
				margin-bottom: 0;
			} 
			
		}
	a{
		color: #fff;
		text-decoration: none;
		&:hover{
			color: #fff;
		text-decoration: none;
		}
	}
	h5{
		font-size: 0.9rem;
		color: #fff;
		text-transform: uppercase;
		padding-bottom: 1.5rem;
		font-weight: bold;
	}
}

/*********************************

GUMBI

*********************************/

.crveni-gumb{
	background: $crvena;
	text-transform: uppercase;
	border-radius: 0;
	padding: 0.3rem 5rem;
	font-weight: bold;
	border: 0;
}
.plavi-gumb{
	background: $plava;
	text-transform: uppercase;
	border-radius: 0;
	padding: 0.3rem 5rem;
	font-weight: bold;
	border: 0;
	&:hover{
		    color: #fff;
	    background-color: $plava;
	    border-color: $plava;
	}
}
.plavi-gumb-outline{
	background: #fff;
    text-transform: uppercase;
    border-radius: 0;
    /* padding: 0.3rem 5rem; */
    font-weight: bold;
    border: 0;
    color: $plava;
    border: 1px solid $plava;
}
hr{
	border-top: 1px solid $plava;
}

.carousel-caption{
	top: 50%;
}

/*SVG*/

.htz_logo{
	width: 200px;
	height: 100px;
}
.tanjur{
	width: 50px;
}

// $theme-colors: (
//   "plava": #0074d9,
//   "danger": #ff4136
// );

/*********************************

MODAL

*********************************/
/* Makni modal header i footer */

@mixin prikazi-footer-modal{
	.modal-footer{
     	display: block;
     	padding: 0;
     	.row{
     		margin-top: -1px;
     	}
     	button{
     		border-radius: 0;
     		border-top: none;
     		/* &:first-child {
     						border-right: 0;
     		} */
     	}
     }
  
}

.modal-body{
	input{
		border-radius: 0;
		&::placeholder{
			font-size: 0.8rem;
			color: #ced4da;
		}
	}
	label{
		padding-left: 1rem;
		color: #000;
		font-weight: 400;
		font-size: 0.9rem;
	}
}


#prijava, #prijavaLogin{
	h2{
		text-align: center;
		font-size: 1.5rem;
		padding: 1rem 0;
		font-weight: normal;
	}
	.crveni-gumb{
		font-size: 1.3rem;
	}
	 .zaboravili-sifru{
	    	color: #333;
	    	font-size: 0.8rem;
	    }
}

.modal-header {
	justify-content: center;
	border-bottom: none;
	.modal-title{
		color:$plava;
	font-size: 3rem;
	text-align:center;
	padding-bottom: 1rem;
	font-weight: normal;
	}
	// display: none;
	
} 

.modal-footer{
	display: none;
}
/* Prvi modal */
div#modal-multi-1___BV_modal_content_ {
    padding: 2rem 5rem 5rem 5rem;
     border: 1px solid $plava;
}
div#modal-multi-1___BV_modal_body_ {
	
    border: 1px solid $plava;
}
/* Drugi modal */
div#modal-multi-2___BV_modal_content_ {
    padding: 2rem 5rem 5rem 5rem;
     border: 1px solid $plava;
}
div#modal-multi-2___BV_modal_body_ {
	
    border: 1px solid $plava;
}
/* Treci modal */
div#modal-multi-3___BV_modal_content_ {
    padding: 2rem 5rem 5rem 5rem;
     border: 1px solid $plava;
     @include prikazi-footer-modal;
}
div#modal-multi-3___BV_modal_body_ {
	
    border: 1px solid $plava;
}

/* Cetvrti modal */
div#modal-multi-4___BV_modal_content_ {
    padding: 2rem 5rem 5rem 5rem;
     border: 1px solid $plava;
     @include prikazi-footer-modal;
}
div#modal-multi-4___BV_modal_body_ {
	
    border: 1px solid $plava;
}
/* Peti modal */
div#modal-multi-5___BV_modal_content_ {
    padding: 2rem 5rem 5rem 5rem;
     border: 1px solid $plava;
     @include prikazi-footer-modal;
}
div#modal-multi-5___BV_modal_body_ {
	
    border: 1px solid $plava;
}

/* Sedmi modal */
div#modal-multi-7___BV_modal_content_ {
    padding: 2rem 5rem 5rem 5rem;
     border: 1px solid $plava;
     .modal-footer{
     	display: block;
     	padding: 0;
     	.row{
     		margin-top: -1px;
     	}}
     }
div#modal-multi-7___BV_modal_body_ {
	
    border: 1px solid $plava;
}

/* Osmi modal */
div#modal-multi-8___BV_modal_content_ {
    padding: 2rem 5rem 5rem 5rem;
     border: 1px solid $plava;
     @include prikazi-footer-modal;
     }
div#modal-multi-8___BV_modal_body_ {
	
    border: 1px solid $plava;
}

/* Deveti modal */
div#modal-multi-9___BV_modal_content_ {
    padding: 2rem 5rem 5rem 5rem;
     border: 1px solid $plava;
     @include prikazi-footer-modal;
     }
div#modal-multi-9___BV_modal_body_ {
	
    border: 1px solid $plava;
}


/* Deseti modal */
/*div#modal-multi-10___BV_modal_content_ {
    padding: 2rem 5rem 5rem 5rem;
     border: 1px solid $plava;
     @include prikazi-footer-modal;
     }
div#modal-multi-10___BV_modal_body_ {
	
    border: 1px solid $plava;
}*/


/* 12 modal - registracija uspješna */
div#modal-multi-12___BV_modal_content_ {
    padding: 2rem 5rem 5rem 5rem;
     border: 1px solid $plava;

     }
div#modal-multi-12___BV_modal_body_ {
	
    border: 1px solid $plava;
}
/* 13 modal - ponuda kreirana */
div#modal-multi-13___BV_modal_content_ {
    padding: 2rem 5rem 5rem 5rem;
     border: 1px solid $plava;
	@include prikazi-footer-modal;
     }
div#modal-multi-13___BV_modal_body_ {
	
    border: 1px solid $plava;
}


.modal-header .close{
	position: absolute;
    right: 0;
    top: 0;
    padding: 1.5rem;
    margin: 0;
    font-size: 2.5rem;
}


#PrijavaLoginUspjeh{
	hr{
		border: 7px solid $plava;
	}
	h5{
		color: $plava;
	}
		.col-lg-4{
			cursor: pointer;
			&:hover{
				cursor: pointer;
			}
		
		}
	
	
}

/*********************************

REGISTRACIJA

*********************************/

.registracija_okvir{
	border: 1px solid $plava;
	padding: 1.5rem;
	border-bottom: none;
}
// .v-step.is-visited .index[data-v-1a92c248]{
// 	color: rgba($plava, 0.50);
// }
// .v-step.is-active .index[data-v-1a92c248]{
// 	background: $plava;
// 	color: #fff; 
// }
@mixin label{
	.label {
		span{
			background: $plava;
						color: #fff; 
					}
		}
  
}

.v-step.is-active .label .index[data-v-1a92c248]{

background: $plava ;
;}

.v-stepper .v-step label .divider{
	        border-bottom: 5px solid #DDF7FF;
}
.v-stepper{
	.v-stepper-root{
		.is-active{
			@include label;	
				.divider{
					border-bottom: 5px solid $plava;
					box-shadow: none;
				}
			}
		.is-visited{
				@include label;	
				.divider{
					border-bottom: 5px solid $plava;
				}
			}
	}
	
	.modal-body label{
		padding-left: 0;
	}
	.v-step{
		// .is-disabled{
		// 	.label{
		// 		span{
		// 			background: $svjetlo-plava;
		// 			color: rgba($plava, 0.50);

		// 		}
		// 		.divider{
		// 			border-bottom: 5px solid $svjetlo-plava;
		// 		}
		// 	}
		
		// }
	
		opacity: 1;
		label{
			padding-left: 0;
			.divider{
				border-bottom: 5px solid $svjetlo-plava;
				margin-left: 0;
			}
			.index{
				width: 2.5rem;
				height: 2.5rem;
				box-shadow: none;
				background: $svjetlo-plava;
				color: rgba($plava, 0.50);
				font-size: 1rem;
				border: 0;
				margin-right: 0;
			}
		}	
	}
	

}


/*********************************

KREIRANJE PONUDE

*********************************/

.plavi-border{
	padding: 1rem;
	border: 1px solid $plava;
}
.dodatne-fotke{
	.img-thumbnail{
		padding: 0;
		border: 0;
		border-radius: 0;

	}
}
.registracija_okvir_zadnji{
	p{
		color: #CED4DD;
	}
}